<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/current.css" />
  </head>
  <body>





<div class="row">

    <div class="col-lg-4 pad-top">
      <h1>Add products here!</h1>
      <form action="/current" class="clear" method="POST">
        <div class="form-group">
          <label for="exampleFormControlInput1">User Name</label>
          <input
            name="user"
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="You are?"
          />
        </div>

        <div class="form-group">
          <label for="exampleFormControlInput1">Item Name</label>
          <input
            name="item"
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Anything will help"
          />
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Amount</label>
          <select
            name="amount"
            class="form-control"
            id="exampleFormControlSelect1"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
        </div>

        <!-- <aside class="col-sm-8">
  <div class="maincontent feedback">
    <h2 class="article-title">Recent Feedback</h2>
    <div class="market-messages"></div>
  </div>
</aside><!-- secondary -->

        <div class="form-group cat">
          <label for="exampleFormControlSelect2">Category</label>
          <select
            name="category"
            multiple
            class="form-control"
            id="exampleFormControlSelect2"
          >
            <option value="food">food</option>
            <option value="bedding">bedding</option>
            <option value="clothes">clothes</option>
            <option value="first aid">first aid</option>
            <option value="toiletries">toiletries</option>
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Description</label>
          <textarea
            name="description"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>



   <!-- <div class="form-group">
          <label for="exampleFormControlInput1">Image URL</label>
          <input
            name="imageurl"
            type="file"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Give them a look at it"
          />
        </div>

        
        <!-- action///users/uploads? -->
        <form action="/current/uploads" method="POST" enctype="multipart/form-data">

          
    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01"><button type="submit" class="btn-outline-primary ">upload</button></span>
  </div>
  <div class="custom-file">
    <input name="imageurl" type="file" class="custom-file-input" placeholder="Give them a look at it"
      id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
  </div>
</div>



</form>


        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </form>
    </div>
    
    <div class="col-lg-8 ">   <!--   put contain to condense -->

      <h1>Marketplace!</h1>
      <% items.forEach(function(item) { %>
     <ul>

      <form action="/routes/current" class="clear border color" method="POST">
        <div class="form-group">
          <h1>USERName/ID:</h1>
          <h1><%= item.UserID %></h1> 
          
        </div>



    <div class="form-group contain">
      
      <!-- <%= item.imageUrl %> -->
      <img width="180px" height="200px" src="<%= item.imageUrl %>" alt="No image currently" />
    </div>
        
        <div class="form-group">
          <h1>Item:</h1>  <h1><%= item.item_Name %></h1>
          
        </div>

        <div class="form-group">
          <h1>Price:</h1> <h1 class="cash">$<%= item.amount %></h1>
         
        </div>

<div class="form-group">
  <h1>categories:</h1> <h1><%= item.categories%></h1>
</div>


        <div class="form-group">
          <h1>Info:</h1>  <h1><span> <%= item.Description%></span> </h1> 
          
        </div>

        
<div class="form-group contain">
        <button type="button" class="btn btn-outline-primary right">Buy</button>
      </div>
      </form>
      <%}) %>
    </div>



</div>
</ul>
<div class="contain"></div>
<div class="col-lg-1 ">
  </div>

    <!-- <aside class="col-sm-8">
  <div class="maincontent feedback">
    <h2 class="article-title">Recent Feedback</h2>
    <div class="market-messages"></div>
  </div>
</aside><!-- secondary -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="js/jquery-3.3.1.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="js/index.js"></script>
  </body>
</html>
